$colors: (
  primary-light: lighten( #278DD3, 40% ),
  primary: #278DD3,
  primary-dark: darken( #278DD3, 5% ),
  success-light: lighten( #52CF87, 35% ),
  success: #52CF87,
  success-dark: darken( #52CF87, 5% ),
  error-light: lighten( #EB6456, 35% ),
  error: #EB6456,
  error-dark: darken( #EB6456, 5% ),
  grey1: #FAFAFA,
  grey2: #EEEEEE,
  grey3: #E7E7E7,
  grey4: #A6A6A6,
  grey5: #777777,
  neutral: #FFFFFF,
  text: #000000,
  text-invert: #FFFFFF,
  title: #000000,
  label: #2b2b2b
);
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-weight: 300;
$line-height: 2;
$height: 28px;
$spacing: 8px;
$scroll-size: 8px;